<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <zhiguli>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>ProfStep\Shipment\Model\Carrier\Zhiguli</model>
                <name>Zhiguli</name>
                <price>5.00</price>
                <title>z tolchka</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </zhiguli>
            <np>
                <active>1</active>
                <sallowspecific>1</sallowspecific>
                <model>ProfStep\Shipment\Model\Carrier\NP</model>
                <name>Nova Poshta</name>
                <price>2.00</price>
                <title>Доставка майбутнього</title>
                <specificerrmsg>GG WP.</specificerrmsg>
                <handling_type>F</handling_type>
            </np>
        </carriers>
    </default>
</config>
